<div class="wrapper" >

  <!-- <ng-select
    class="selectpicker" 
    [class]="option.type"  
    [items]="option.options"
    [(ngModel)]="option.title"
    bindLabel="title" 
    bindValue="title"
    [clearable]= false

  >
  </ng-select> -->

  <ng-select
      class="selectpicker" 
      [class]="option.type"  
      [(ngModel)]="option.title"
      [clearable]= false
    >
    <ng-option
      class="item-option" 
      *ngFor="let item of option.options" 
      [value]="item.title"
    >
      {{item.title}}
    </ng-option>
</ng-select>

</div>
