@import '../../../../../assets/scss/variables.scss';

.wrapper {

  .selectpicker {
    padding: 16px 25px;
    background: $bg-wite;
    border: $border;
    border-radius: 10px 10px 0px 0px;
    appearance: none;
    cursor: pointer;

    &.location {
      background-image: url('../../../../../assets/images/filters-img/location_icon.svg');
    }

    &.distance {
      background-image: url('../../../../../assets/images/filters-img/radius_icon.svg');
    }

    &.location,
    &.distance {
      background-repeat: no-repeat;
      background-position: 5px 45%;
    }

  }

}
