@import '../../../../../assets/scss/variables.scss';

.navbar {
  color: $bold-color;

  .menu-list {
    width: 100%;

    .holder-ico {
      position: absolute;
      top: 7px;
      right: 10px;

      .ico-arr,
      ._forIco {
        width: 12px;
        height: 7px;
      }
    }

    .inner-menu {
      padding-left: 35px;
      color: $main-color-light;
      display: none;
    }

    ._opened {
      display: block;
    }

    .list-item {
      padding-right: 15px;

      .item-link {
        width: 100%;
        display: inline-block;
        cursor: pointer;
      }

      .list-ico {
        float: left;
      }

      .ico {
        fill: #99CC00;
        width: 21px;
        height: 21px;
        margin-right: 10px;
      }

      .item-link:hover {
        fill: $blue-bg;
        opacity: 0.5;
        text-decoration: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
      }

    }

    ._forIco {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }

  }

}
