<nav class="navbar p-2">

  <ul class="menu-list mb-2" 
    [class]="item.type">
    *ngIf="other"
    <li class="list-item " 
      (click)="dropMenu()">

      <a class="item-link " href="#">
        {{ item.title }}
      </a>

      <ul class="inner-menu" 
        #navdrop id="navdrop">
        <li class="list-item " 
          *ngFor="let good of item.goods"
        >
          <a class="item-link p-2" href="#">
            {{ good }}
          </a>

        </li>
      </ul>

    </li>
  </ul>

</nav>

<ng-template #eletr>
  <svg class="list-icon">
    <use xlink:href="../../../../../assets/images/sidebar-img/sprite.svg#electronix"></use>
  </svg>
</ng-template>


<ng-template #other>
  <svg class="list-icon">
    <use xlink:href="../../../../../assets/images/sidebar-img/sprite.svg#ico-dress"></use>
  </svg>
</ng-template>
