<nav class="navbar pl-0 pb-0 ">

  <ul 
    class="menu-list " 
    [class]="item.type"
  >
    <li class="list-item mb-2" (click)="dropMenu()">

      <a class="item-link mb-2" href="#">
        {{ item.title }}

        <span class="holder-ico">
          <svg [class]="isActive ? '_rotate' : 'ico-arr'">
            <use [attr.fill]="isActive ? '#6699FF' : '#99CC00' "
              xlink:href="../../../../../assets/images/sidebar-img/sprite.svg#arr_down-ico">
            </use>
          </svg>
        </span>
      </a>

      <ul class="inner-menu" #navdrop id="navdrop">
        <li class="list-item" *ngFor="let good of item.goods">
          <a class="item-link mb-2" href="#">
            {{ good }}
          </a>

        </li>
      </ul>

    </li>
  </ul>

</nav>
