@import '../../../../../assets/scss/variables.scss';

.navbar {
  color: $bold-color;

  .menu-list {
    width: 100%;
    background-image: url('../../../../../assets/images/filters-img/arrow_down_icon.svg');
    background-repeat: no-repeat;
    background-position: 100% 5px;

    .inner-menu {
      padding-left: 35px;
      color: $main-color-light;
      display: none;
    }

    .list-item {
      padding-right: 15px;

      .item-link {
        width: 100%;
        display: inline-block;
        cursor: pointer;
      }

      .list-ico {
        float: left;
      }

      .icon {
        fill: #99CC00;
        width: 21px;
        height: 21px;
        margin-right: 10px;
      }

      .item-link:hover {
        fill: $blue-bg;
        opacity: 0.5;
        text-decoration: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
      }

    }

    ._opened {
      display: block;
    }

  }

}
